{{define "body"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <p>Hello:</p>
    <p>We got a request to change your password</p>
    <p>Click on link below to get started</p>

    <p><a href="{{.Link}}">{{.Link}}</a></p>
    <p>This link expires in 60 minutes</p>
    <p>-- <br></p>
    <p>Stamper Software Widgets Co.</p>

</body>
</html>
{{end}}